# Node.js
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode

# Mac
.DS_Store

# Logs
logs
*.log
*.log.*

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache
.nyc_output
coverage

# Puppeteer
output/
.puppeteer/

# Dist
dist/
build/

# Misc
*.pem
*.pid
*.seed
*.key

# Editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Vercel
.vercel

# Tests
coverage/

# Sentry sourcemaps
sentry-debug-id

# JetBrains IDEs
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/shelf

# AWS/Serverless stuff
.aws-sam

# Optional IntelliJ IDEA files
.idea/svn
